* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --corPrincipal: #a78bfa;
  --fundo: #0f0f0f;
}
.parteDeCima {
  background-color: red;
  height: 300px;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: var(--fundo);
  color:  #f0f0f0;
  padding: 2rem;
}

.aba {
  display: none;
}

.aba-ativa {
  display: block;
}


header {
  text-align: center;
  margin-bottom: 2rem;
  padding: 100px 20px; /* AUMENTA O TAMANHO */
}

h1 {
  color: var(--corPrincipal);
  font-size: 80px; /* aumenta bastante */
}

.headerP {
  color: var(--corPrincipal);
  font-size: 20px; /* aumenta bastante */
}

/* para centralizar a área 
de upload */
.upload-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 20px;
}

/* para estilizar o botão de 
escolher imagem */
.upload-area label {
  background-color: var(--corPrincipal);
  color: #000;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

/* para esconder o botão de 
input feio */
input[type="file"] {
  display: none;
}

/* Centraliza os botões */
.buttons {
  display: flex;
  justify-content: center;
  gap: 0.1rem;
  flex-wrap: wrap;
  padding: 10px;
}

.buttons button {
  border: 2px solid var(--corPrincipal);  /* borda roxa visível */
  background: transparent;     /* fundo transparente */
  color: var(--corPrincipal);              /* texto roxo */
  border-radius: 10px;
  transition: all 0.2s;
  padding: 12px;
  margin: 5px;
}

.buttons button:hover {
  background-color: var(--corPrincipal);
  color: #000;
}

.buttons button.ativo {
  background-color: var(--corPrincipal);
  color: #000;
}

/* Centraliza os botões */
.canvas-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.description {
  margin: 40px auto; /* CENTRALIZA HORIZONTALMENTE */

  max-width: 600px;  /* deixa mais bonito */
  text-align: center;

  border: 5px solid var(--corPrincipal);
  background-color: var(--corPrincipal);
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  color: #000;
}